 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Elad and I'm a code ninja from Israel. Unlike most code ninjas, I DID NOT start to code when I was seven.
                    My first line of code was written in college. I'm an entrepreneur at heart, and always keep a side project running for my soul.</p>
                </div>
                <div class="col-lg-4">
                    <p>I almost never look for a job, but always willing to hear about interesting professional opportunities. This is exactly why I started working on CodeLordz, as my side project. If you think you have the perfect job to offer me, feel free to <a href="#contact">contact me</a>.</p>
                </div>
            </div>
        </div>
    </section>